.idea/
.obsidian/
.venv/
lc_cpp/build/
lc_cpp/cmake-build-debug/
lc_cpp/CMakeLists.txt
lc_cpp/main.cpp
lc_go/go.mod
lc_go/main.go
lc_java/out/
lc_java/lc_java.iml
/*
!lc_cpp/
!lc_go/
!lc_java/
!lc_py/
lc_cpp/*
!lc_cpp/lcCpp/
lc_go/*
!lc_go/lcGo/
lc_java/*
!lc_java/lcJava/
lc_py/*
!lc_py/lcPy/